* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.logo-mario {
    height: 200px;
}



button {
    color: rgb(241, 234, 234);
    background-color: rgb(7, 187, 37);
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}


.imagem-mario-luigi {
    height: 400px;
    justify-content: 300px;
}

body {
    height: 700px
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.meuvideo {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0
}

.mascara {

    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 20px;
}

.link-whatsap img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}


.cabeçalho {
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 30px;

}

.cabeçalho img {
    height: 60px;

}


.cabeçalho a {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cabeçalho a:hover {
    color: #c51111;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {

    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
}


input {

    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: blue;
}


textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: blue;
}

.mascara.formulario {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    transition: 1s ease-in-out;
}

@media(max-width: 1100px) {

    p {

        display: none;
    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imagem-mario-luigi {
        width:80vw;
        height: auto;

    }

    .cabeçalho {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content:center ;
    }
    
    
    .cabeçalho img {

        display: none
    }

    .cabeçalho a {
        font-size: 20px;

    }

}